.jumbotron{
    padding:10px;
    font-weight: bold;}
.signinDiv1{
    background-color: #eee;
    text-align: right;
    border-radius:10px;
    padding-right: 15%;
}
a{
    color:white;
}
h4{
    text-align: left !important;
    color:maroon;
}
.main-nav{
    float:right
}
.btn{
    margin:10px;
}
.signupDiv{
    display: none;
}